/* style.css */

/* Estilos para el contenedor principal y formulario */
.update-licence-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.back-button {
    background-color: #7100f3;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #4e00b5;
}

.form-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 15px;
    font-weight: bold;
    color: #333;
}

.input, .textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    margin-top: 5px;
}

.textarea {
    resize: vertical;
    min-height: 100px;
}

.button-group {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.submit-button, .delete-button {
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit-button {
    background-color: #5d00f3;
}

.submit-button:hover {
    background-color: #5e00b5;
}

.delete-button {
    background-color: #ff4d4f;
}

.delete-button:hover {
    background-color: #e63946;
}

/* Estilos para los modales */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px
}