p {
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 20px; /* Ajusta el tamaño del texto (cámbialo según tus necesidades) */
    margin-top: 30px; /* Ajusta la distancia del texto desde el elemento superior */
    line-height: 1.5; /* Mejora la legibilidad del texto al aumentar la altura de línea */
    text-decoration: dashed;
    margin-left: 200px;
    margin-right: 200px;
}

h1{
    color: rgb(89, 17, 117);
    font-size: 40px;
    margin-top: 30px;
    text-align: center;text-shadow: 40px;
}